/*html,
body {
	height: 100%;

}

body{

}

.topLeft,
.topRight,
.bottomLeft,
.bottomRight,
.bottomMiddle {
	font-size: ;
	position: absolute;
}*/


.topBar,
/*.topRight,*/
.avatar 
.left-info,
.middle-Bar,
/*.Repositories,*/
.Contributions {
	margin-right:100;
	margin-left:100;
}


.topBar ul li {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.topRight {
	position: absolute;
	right:20px;
	top:10px;
}


.avatar



.left-info ul li {
	display: block;
	vertical-align: middle;
}


.middle-bar {
	position:absolute;
	right:500px;
	top:100px;

}



.Popular-Repositories {
	position:absolute;
	right:200px;
	top:50px;
}
	



.Contributions {
	position:absolute;
	right:100px;
	top:350px;
}






