body {

		background-color:#66FFCC;
}


div.gold-coast {
	padding-left: 380px;
}

.gold-coast

div.fox-glacier {
	padding-left: 400px;
}


div.rio {
	padding-left: 400px;
}
/*img {*/
	padding-left: 400px;
}*/